<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include "components/styles.html" %}
    <title>Ofertas esepciais para você</title>
  </head>
  <body>
    {% include "components/header.html" %}

    <main>
      {% include "components/help-algorithm.html" %}
      <section id="products"></section>
      <section id="share-news"></section>
    </main>
    <footer></footer>
    {% include "components/scripts.html" %}
  </body>
</html>
