footer {
  position: relative;

  height: 293px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 86px;
  background: var(--primary-bg-color) 0% 0% no-repeat padding-box;
}

footer::before {
  top: 0;
  content: '';
  position: absolute;
  width: 0%;
  height: 0%;
  background: var(--bg-color);

  border-top: 0 solid transparent;
  border-bottom: 100px solid var(--primary-bg-color);
  border-left: 0 solid transparent;
  border-right: 100vw solid transparent;
}

footer p {
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: var(--text-in-primary);
}
