header {
  position: relative;
  height: 400px;
  width: 100vw;
  background: var(--primary-bg-color) 0% 0% no-repeat padding-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 69px;
}

header::after {
  bottom: 0;
  content: '';
  position: absolute;
  width: 0%;
  height: 0%;
  background: var(--bg-color);

  border-top: 100px solid var(--primary-bg-color);
  border-bottom: 00px solid transparent;
  border-left: 100vw solid transparent;
  border-right: 0 solid transparent;
}

header h1,
header p,
header h3 {
  color: var(--text-in-primary);
}

header p {
  font-size: 0.75rem;
  line-height: 1.125rem;
  margin-top: 24px;
}

.header-button-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.header-button-container button {
  color: var(--text-in-bg-color);
  width: 160px;
  height: 40px;
  background: var(--bg-color) 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 6px #00000029;
  border: 1px solid var(--primary-bg-color);
  border-radius: 4px;
  outline: none;
  transition: linear 0.2s;
}

.header-button-container button:hover {
  color: var(--text-in-primary);
  background: var(--primary-bg-color) 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 6px #00000029;
  border: 1px solid var(--bg-color);
}
.header-button-container button:active {
  color: var(--text-in-bg-color);
  background: var(--bg-color) 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 0px #00000029;
  border: 1px solid var(--bg-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: calc(100vh - 693px);

  color: #888888;
}

#help-algorithm {
  width: 100%;
  display: flex;
  gap: 60px;
  justify-content: center;
  margin-top: 20px;
}
#help-algorithm p {
  letter-spacing: 0px;
  font-size: 0.75rem;
  line-height: 1.25rem;
  margin-top: 1.25rem;
}

#help-algorithm h3 {
  line-height: 1.5rem;
  margin-bottom: 10px;
}

#help-algorithm article {
  width: 520px;
}

#help-algorithm fieldset {
  border: none;
  width: 340px;

  display: flex;

  flex-direction: column;
}

#help-algorithm fieldset label {
  font-size: 0.75rem;
  line-height: 0.875rem;
  margin-bottom: 7px;
  color: var(--text-in-bg-color);
}

#help-algorithm .input-field {
  height: 30px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 0px;
  border: 1px solid var(--primary-bg-color);
  outline-color: var(--primary-bg-color);
  text-indent: 1ch;
  transition: linear 0.2s ease;
  color: var(--text-in-bg-color);
}

#help-algorithm .input-field:hover {
  border: 2px solid var(--primary-bg-color);
  border-radius: 4px;
}

#help-algorithm .radio-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 23px;
}

#help-algorithm .radio-button label,
#help-algorithm .radio-button input {
  cursor: pointer;
}

.register-form-submit-button {
  outline: none;
  background: var(--bg-color) 0% 0% no-repeat padding-box;
  color: var(--text-in-bg-color);
  font-size: 1rem;
  border: 1px solid var(--text-in-bg-color);
  border-radius: 4px;
  height: 39px;
  line-height: 1rem;
  transition: linear 0.2s;
}

.register-form-submit-button:hover {
  color: var(--text-in-primary);
  background: var(--primary-bg-color) 0% 0% no-repeat padding-box;
}

.register-form-submit-button:active {
  background: var(--bg-color) 0% 0% no-repeat padding-box;
  color: var(--text-in-bg-color);
}

footer {
  position: relative;
  height: 293px;
  width: 100%;
  background: var(--primary-bg-color) 0% 0% no-repeat padding-box;
}

footer::after {
  top: 0;
  content: '';
  position: absolute;
  width: 0%;
  height: 0%;
  background: var(--bg-color);

  border-top: 0 solid transparent;
  border-bottom: 100px solid var(--primary-bg-color);
  border-left: 0 solid transparent;
  border-right: 100vw solid transparent;
}
