:root {
  --primary-bg-color: #707070;
  --text-in-primary: #ffffff;
  --bg-color: #ffffff;
  --text-in-bg-color: #888888;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background: var(--bg-color);

  -webkit-font-smoothing: antialiased;
}
h1 {
  font-size: 2.5rem;
  line-height: 3rem;
}
h3 {
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: normal;
}

a {
  text-decoration: none;
}
