#help-algorithm {
  width: 100%;
  display: flex;
  gap: 60px;
  justify-content: center;
  margin-top: 20px;
}
#help-algorithm p {
  letter-spacing: 0px;
  font-size: 0.75rem;
  line-height: 1.25rem;
  margin-top: 1.25rem;
}

#help-algorithm h3 {
  line-height: 1.5rem;
  margin-bottom: 10px;
}

#help-algorithm article {
  width: 520px;
}

#help-algorithm fieldset {
  border: none;
  width: 340px;

  display: flex;

  flex-direction: column;
}

#help-algorithm fieldset label {
  font-size: 0.75rem;
  line-height: 0.875rem;
  margin-bottom: 7px;
  color: var(--text-in-bg-color);
}

#help-algorithm .input-field {
  height: 30px;
  width: 100%;

  border-radius: 0px;
  border: 1px solid var(--primary-bg-color);
  outline-color: var(--primary-bg-color);
  text-indent: 1ch;
  transition: linear 0.2s ease;
  color: var(--text-in-bg-color);
}

#help-algorithm .input-field:hover {
  border: 2px solid var(--primary-bg-color);
  border-radius: 4px;
}
#help-algorithm .error-warning {
  align-self: flex-end;

  height: 11px;
  margin-bottom: 9px;
  font-size: 0.6875rem;
  color: red;
  margin-top: 0;
}
#help-algorithm .radio-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

#help-algorithm .radio-button label,
#help-algorithm .radio-button input {
  cursor: pointer;
}

.register-form-submit-button {
  outline: none;
  margin-top: 13px;
  background: var(--bg-color) 0% 0% no-repeat padding-box;
  color: var(--text-in-bg-color);
  font-size: 1rem;
  border: 1px solid var(--text-in-bg-color);
  border-radius: 4px;
  height: 39px;
  line-height: 1rem;
  transition: linear 0.2s;
}

.register-form-submit-button:hover {
  color: var(--text-in-primary);
  background: var(--primary-bg-color) 0% 0% no-repeat padding-box;
}

.register-form-submit-button:active {
  background: var(--bg-color) 0% 0% no-repeat padding-box;
  color: var(--text-in-bg-color);
}

@media (max-width: 1000px) {
  #help-algorithm {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    margin-top: 20px;
  }
}
